{%extends "main.html"%} {% block header %}
<h1>{% block title %}Ajout d'un nouvel arrivant{% endblock %}</h1>
{%endblock%}
{%block content %}

<div class="row">
    <div class="col-md-8">
        <form method="POST" action="/">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="form-group row">
                {% if field.errors %}
                <div class="has-error">
                    {{ field.label(class='col-sm-4 col-form-label') }}
                    <div class="col-sm-8">
                        {{ field(class='form-control') }}
                    </div>
                </div>
                <span style="color: red;">{% for error in field.errors %}{{ error }}{% if not loop.last %}<br/>{% endif %}{% endfor %}</span>
                {% else %}
                {{ field.label(class='col-sm-4 col-form-label') }}
                <div class="col-sm-8">
                    {{ field(class='form-control') }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
    </div>
    <div class="col-md-4">


        Veniam aut voluptas voluptates culpa quia. Animi reprehenderit rerum sed. Odio perferendis est sed odio quia.
        Libero ex exercitationem atque temporibus voluptas dicta officia. Odio ea sint itaque dolores quia nostrum.

        Quis accusamus ut corporis. Repellat qui voluptate incidunt excepturi sed odio est cum. Eos earum sit voluptas
        repellat earum autem quia.

        Quo id excepturi suscipit est. Aut voluptatem repellendus perferendis. Explicabo dignissimos et qui magnam.

        Repellat voluptates sed maxime est voluptatem. Dolorum a sit voluptatem excepturi ea. Accusantium neque cumque
        voluptatem quidem totam. Ut sunt id maiores laborum. Unde sapiente quo animi modi.

        Expedita est dicta inventore. Quae reiciendis est qui laboriosam ab qui consectetur. Placeat assumenda quas
        voluptatem debitis laboriosam autem nisi. Sequi unde delectus molestias est voluptas doloremque. Fuga quis rem
        eos occaecati sunt culpa aut.

    </div>
</div>
{% endblock %}