{%extends "main.html"%}
{%block content %}
{% block header %}
<div class="row">
    <div class="col-xs-12 col-md-6">
        <h1><i class="fa fa-users"></i> {% block title %}Nouvelles arrivées saisies{% endblock %}</h1>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="text-right">
            <a class="btn btn-success" href="{{ url_for('main.person_add') }}"><i class="fas fa-user-plus"></i>
                Déclarer une nouvelle arrivée</a>
        </div>
    </div>
</div>
{%endblock%}
<table id="persons" class="table table-condensed table-responsive">
    <thead>
    <tr>
        {% for key in persons[0].keys() %}
        <th scope="col">{{ key }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for person in persons %}
    <tr>
        {% for value in person.values() %}
        <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<script type="text/javascript">

    $('#persons').DataTable();

</script>
{%endblock%}