{%extends "main.html"%}
{%block content %}
{% block header %}
<div class="row">
    <h1><i class="fa fa-mail-bulk"></i> {% block title %}Ajout d'un nouveau destinataire{% endblock %}</h1>
    {%endblock%}

</div>
<div class="row">

    <div class="col-md-4">
        <div class="alert alert-info">
            <h3><i class="fas fa-info-circle"></i> Note</h3>
            <p>Les contenus des mails sont automatiquement générés à partir des modèles que vous créerez ici. Pour ce
                faire, il faut les indiquer dans le Sujet <code>subject</code> et/ou dans le corps du texte
                <code>body</code>. Ces variables doivent obligatoirement être entourées d'accolades. A titre d'exemple,
                le corps de texte suivant <code>Le salarié {name} {surname}...</code> , ou <code>name</code> est <i>MANCEL</i>
                et <code>surname</code> est <i>Benoit</i> donnera ainsi un mail contenant le message suivant <code>Le
                    salarié MANCEL Benoit...</code>
            <ul>
            {% for v in var %}
                <li>
                    {{v.doc}}&nbsp;: <code>{{'{'+v.var+'}'}}</code>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <h3><i class="fas fa-user-edit"></i> Formulaire de déclaration</h3>
        <form method="POST" action="{{url_for('main.recipient_add')}}">
            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="form-group row">
                {% if field.errors %}
                <div class="has-error">
                    {{ field.label(class='col-sm-4 col-form-label') }}
                    <div class="col-sm-8">
                        {{ field }}
                    </div>
                </div>
                <span style="color: red;">{% for error in field.errors %}{{ error }}{% if not loop.last %}<br/>{% endif %}{% endfor %}</span>
                {% else %}
                {{ field.label(class='col-sm-4 col-form-label') }}
                <div class="col-sm-8">
                    {{ field }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="text-right">
                <input type="submit" value="Valider" class="btn btn-success btn-block">
            </div>
        </form>
    </div>

</div>
{% endblock %}