{%extends "main.html"%}
{%block content %}
{% block header %}
<div class="row">
    <h1><i class="fa fa-mail-bulk"></i> {% block title %}Ajout d'un nouveau destinataire{% endblock %}</h1>
    {%endblock%}

</div>
<div class="row">

    <div class="col-md-4">
        <div class="alert alert-info">
            <h3><i class="fas fa-info-circle"></i> Note</h3>
            <p>Les contenus des mails sont automatiquement générés à partir des modèles que vous créerez ici. Pour ce
                faire, il faut les indiquer dans le Sujet
            <pre>subject</pre>
            et/ou dans le corps du texte
            <pre>body</pre>
            . Ces variables doivent obligatoirement être entourées d'accolades. A titre d'exemple, le corps de texte
            suivant
            <pre>Le salarié {name} {surname}...</pre>
            , ou
            <pre>name</pre>
            est <i>MANCEL</i> et
            <pre>surname</pre>
            est <i>Benoit</i> donnera ainsi un mail contenant le message suivant
            <pre>Le salarié MANCEL Benoit...</pre>
            <ul>
                <li>
                    <pre>name</pre>
                    : Nom
                </li>
                <li>
                    <pre>surname</pre>
                    : Prénom
                </li>
                <li>
                    <pre>surname</pre>
                    : Prénom
                </li>

            </ul>
            <!--            surname = StringField('Prénom', validators=[DataRequired()], render_kw=common_input)-->
            <!--            email = StringField('Email', validators=[DataRequired(), Email()], render_kw=common_input)-->
            <!--            arrival_date = DateField('Date d\'arrivée', validators=[DataRequired()], render_kw=datepicker)-->
            <!--            departure_date = DateField('Date de départ', render_kw=datepicker)-->
            <!--            territory_unit_id = QuerySelectField('Délégation territoriale', query_factory=get_territory_unit,-->
            <!--            get_label='name',-->
            <!--            get_pk=lambda a: a.id_territory_unit,-->
            <!--            render_kw=common_input)-->
            <!--            email_referent = StringField('Email responsable', validators=[DataRequired(), Email()],-->
            <!--            render_kw=common_input)-->
            <!--            service = StringField('Service', render_kw=common_input)-->
            <!--            workplace_address = TextAreaField('Addresse du lieu de travail', render_kw=common_input)-->
            <!--            workplace_city = StringField('Ville du lieu de travail', render_kw=common_input)-->
            <!--            phone_number = StringField('Numéro de téléphone', render_kw=common_input)-->
            <!--            position_type_id = QuerySelectField('Type de poste', query_factory=get_position_type, get_label='name',-->
            <!--            get_pk=lambda a: a.id_position_type,-->
            <!--            render_kw=common_input)-->
            <!--            comment = TextAreaField('Commentaire', render_kw=common_input)-->
        </div>
    </div>
    <div class="col-md-8">
        <h3><i class="fas fa-user-edit"></i> Formulaire de déclaration</h3>
        <form method="POST" action="{{url_for('main.recipient_add')}}">
            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="form-group row">
                {% if field.errors %}
                <div class="has-error">
                    {{ field.label(class='col-sm-4 col-form-label') }}
                    <div class="col-sm-8">
                        {{ field }}
                    </div>
                </div>
                <span style="color: red;">{% for error in field.errors %}{{ error }}{% if not loop.last %}<br/>{% endif %}{% endfor %}</span>
                {% else %}
                {{ field.label(class='col-sm-4 col-form-label') }}
                <div class="col-sm-8">
                    {{ field }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="text-right">
                <input type="submit" value="Valider" class="btn btn-success btn-block">
            </div>
        </form>
    </div>

</div>
{% endblock %}