{%extends "main.html"%}
{%block content %}
{% block header %}
<h1><i class="fas fa-mail-bulk"></i>{% block title %}Destinataires{% endblock %}</h1>
{%endblock%}
<table id="persons" class="table table-condensed table-responsive">
<thead>
    <tr>
        {% for key in recipients[0].keys() %}
        <th scope="col">{{ key }}</th>
        {% endfor %}
    </tr>
    </thead>
     <tbody>
    {% for recipient in recipients %}
    <tr>
        {% for value in recipient.values() %}
        <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
     </tbody>
</table>
<script type="text/javascript">

    $('#persons').DataTable();

</script>
{%endblock%}